/* Fix user-agent */

* {
   box-sizing: border-box;
}

html {
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
}

html, input {
   font-family:
   "HelveticaNeue-Light",
   "Helvetica Neue Light",
   "Helvetica Neue",
   Helvetica,
   Arial,
   "Lucida Grande",
   sans-serif;
}

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
   word-wrap: break-word;
}

p.lead.me {
   font-weight: bold;
}

#animation_area {
   height:200px;
   width: 100%;
   background-color: green;
   color: white;
   text-align: center;
}

#animation_area > h1 {
   margin-top: 0px;
}

#instruction_area {
   height: 200px;
   width: 100%;
   padding-top: 60px;
   background-color: #666;
   color: white;
   text-align: center;
}

#instruction_area > h1 {
   margin-top: 0px;
}

.progress {
   width: 100%;
   margin-bottom: 0px;
}

#button_layout {
   height: 400px;
   width: 100%;
   background-color: #888;
}

.col-md-1 {
   border: 1px solid black;
   height: 200px;
   text-align: center;
}

.col-md-2 {
   border: 1px solid black;
   height: 200px;
   text-align: center;
}

.col-md-3 {
   border: 1px solid black;
   height: 200px;
   text-align: center;
}

.col-md-4 {
   border: 1px solid black;
   height: 200px;
   text-align: center;
}

body {
   background-image: url('http://mawquality.com/Content/Images/business.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

#main, #game_over {
   display: none;
}

#big {
   margin-top: 180px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 20px;
   width:900px;
   border-radius: 5px;
   background: rgba(255, 255, 255, 0.85);
}

#big h1 {
   font-family: courier;
   text-align:center;
}

#play_button {
   display: block;
   margin: 0 auto;
   width: 300px;
   margin-top: 200px;
}

/* Override Bootstrap's border-radius setting for block-sized radio buttons */
.btn-group > .btn.btn-block {
   border-radius: 5px !important;
}

#lobby h2 {
   margin-bottom: 40px;
}

.lobby_input {
   margin-right: 20px;
   margin-left: 10px;
}


@-webkit-keyframes bgscroll {
   from {background-position:0 0;}
   to {background-position:-2903px -0px;}
}

.ani {
   background: url("office-sam.jpg");
   color: #ecf2f9;
   text-align: center;
   -webkit-animation:bgscroll 40s infinite linear;
}

.container {
   height: 200px;
   margin: 0 auto;
   position: relative;
   padding: 2em;
}

#team {
   margin-top: 90px;
   position: absolute;
}
#exit {
   position: absolute;
   right: 15px;
   top: 0px;
}

.alert {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
}
