/* Fix user-agent */

* {
   box-sizing: border-box;
}

html {
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
}

html, input {
   font-family:
   "HelveticaNeue-Light",
   "Helvetica Neue Light",
   "Helvetica Neue",
   Helvetica,
   Arial,
   "Lucida Grande",
   sans-serif;
}

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
   word-wrap: break-word;
}

#animation_area {
   height:200px;
   width: 100%;
   padding-top: 70px;
   background-color: green;
   color: white;
   text-align: center;
}

#animation_area > h1 {
   margin-top: 0px;
}

#instruction_area {
   height: 200px;
   width: 100%;
   padding-top: 60px;
   background-color: #666;
   color: white;
   text-align: center;
}

#instruction_area > h1 {
   margin-top: 0px;
}

.progress {
   width: 100%;
   margin-bottom: 0px;
}

#button_layout {
   height:400px;
   width:100%;
   background-color: #888;
}

.col-md-1 {
   border: 1px solid black;
   height:200px;
}

.col-md-2 {
   border: 1px solid black;
   height:200px;
}

.col-md-3 {
   border: 1px solid black;
   height:200px;
}

.col-md-4 {
   border: 1px solid black;
   height:200px;
}
